protocol = "adafruit-stepper-motor-hat"
doc = ""
traits = ["uses-i2c", "uses-serial", "has-limits", "has-position", "is-homeable", "is-daemon"]

[links]
source = "https://gitlab.com/yaq/yaqd-adafruit"
bugtracker = "https://gitlab.com/yaq/yaqd-adafruit/-/issues"

[installation]
PyPI = "https://pypi.org/project/yaqd-adafruit/"

[[types]]
name = "limit_switch"
type = "record"
fields = [{"name"="pin", "type"="int", "doc"="GPIO Pin"},
	  {"name"="invert", "type"="boolean", "default"=false}]

[config]

[config.i2c_addr]
default = 0x60

[config.steps_per_unit]
type = "double"
default = 0.5555555555556

[config.units]
type = "string"
default = "deg"

[config.lower_limit_switch]
type = "limit_switch"

[config.microsteps]
type = "int"
default = 16
doc = "Number of microsteps to use, 1 for full steps. Must be a power of two."

[config.step_rate_limit]
type="double"
default = 0
doc = "Time (in s) to explicitly wait between successive steps."

[config.stepper_index]
type = "int"

[config.upper_limit_port]
type = ["null", "limit_switch"]
default = "__null__"

[state]
[state.position]
default = 0
[state.destination]
default=0
